.skills{
    min-height: 80vh;
    background-color: var(--clr-bg);
    display: flex;
    flex-direction: row;
    position:relative;
    justify-self: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 1vmax 1vmax 1vmax 1vmax;
    border: var(--clr-secondaryToTransparent) 2px solid;
}
.skills *{
    /* outline: auto; */
}
.skills .col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-block: 5vmax;
    color: var(--clr-secondary);
    padding-inline:1.4em;
}
.skills h3{
    font-size: 0.45em;
    font-weight: 500;
}
.skills h4,.skills h5{
    font-size: 0.37em;
    font-weight: 400;
}
.skills .col + .col{
    border-left: 1px solid var(--clr-secondary);
}
.skills img{
    margin-inline: auto;
    margin-bottom: 2rem;
}


.skills .abstract{
    margin-top: 0.5em;
    font-size: 0.35em;
    font-weight: 100;
    margin-inline: auto;
    transition: opacity 500ms ease-in;

}
.skills .abstract[data-visible='true']{
    opacity:(0,1);
}
.skills p, li{
    color: var(--clr-mainHeading);
    list-style: none;
}

.skills li{
    margin-inline-start: -1em;
}
 
@media screen and (max-width:1000px) {
    .skills{
    flex-wrap: wrap;
    }
    .skills .col{
        padding-inline:0.6em;
        min-width: 240px;
    }
}

@media screen and (max-width:653px) {
    .skills .col + .col{
        border-top: 1px solid var(--clr-secondary);
        border-left: 0;
    }
}
