.projectCard *{
    /* outline: auto; */
}

.projectCard {
    background-color: #f3f3f3; 
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.095);
    border-radius: 0.5vmax 0.5vmax 0.5vmax 0.5vmax ;
    overflow: hidden;
    position: relative;
    height: 100%;
}
#cardImg{
    width: 100%;
    height: auto;
}
.card-body{
    position: relative;
    color: var(--clr-light);
    background: linear-gradient(to bottom, #1e1d2377, #16151d);

}
.card-body>p{
    font-size: 0.5em;
}
.card-body>p::after{
    content: "";
    height: 2px;
    width: 100%;
    margin-top: 2rem;
    margin-left: -100%;
    background-color: var(--clr-secondary);
    position: absolute;
    /* transition: transform 500ms ease-in-out; */
}
/* .card-body>p::after:hover{
    display: block;
    transform: scaleX(1);
} */
.card-body>span{
    font-size: 0.28em;
}
.projectCard .btn{
    background-color: var(--clr-secondary);
    border: none;
    font-size: 0.3em;
    padding-inline: 20%;
}