.projectCard *{
    /* outline: auto; */
}

.projectCard {
    box-shadow: 0 0 20px #192f55;
    border-radius: 1vmax 1vmax 1vmax 1vmax  ;
    overflow: hidden;
    position: relative;
    height: 100%;
    aspect-ratio: 1 / 1;
}
#cardImg{
    width: 100%;
    height: auto;
}
.bg{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: row;
    color: var(--clr-white);
}
.bg img{
    width: 0.8em;
    margin-right: 0.1em;
}
.bg h2{
    width: max-content;
    font-size: 0.5em;
}

.card-body{
    position: relative;
    color: var(--clr-white);
    background: linear-gradient(to top, #1e1d23b7, #16151dd9);
    opacity: 1;
    height: 100%;
    transition: opacity 200ms ease-in;
    padding: 10%;
}
.card-body:hover,:focus{
    opacity: 1;
}
.card-body>p{
    font-size: 0.5em;
}
.card-body>p::after{
    content: "";
    height: 2px;
    width: 100%;
    margin-top: 2rem;
    margin-left: -100%;
    background-color: var(--clr-secondary);
    position: absolute;
   
}
.card-body>span{
    font-size: 0.26em;
    font-weight: 400;
    margin-bottom: 20%;
    overflow-wrap: break-word;
}
.card-body>span>p>b{
    color: var(--clr-secondary);
    font-weight: 800;
    font-size: 1.1em;
}


.projectCard .btn{
    background-color: var(--clr-secondary);
    border: none;
    position: absolute;
    font-size: 0.3em;
    bottom: 10%;
    left: 0%;
    right: 0%;
    margin-inline: 10%;
}

@media screen and (max-width:660px) {
    .card-body>span>p>b{
        font-size: 1em;
    }
    .card-body>span{
        font-size: 0.21em;
    }
}

@media (hover) {
    .card-body{
        position: relative;
        color: var(--clr-white);
        background: linear-gradient(to top, #1e1d23c2, #16151def);
        opacity: 0;
        height: 100%;
        transition: opacity 200ms ease-in;
        padding: 10%;
    }
}