.projectCard *{
    /* outline: auto; */
}

.projectCard {
    box-shadow: 0 0 20px #192f55;
    border-radius: 0.5vmax 0.5vmax 0.5vmax 0.5vmax ;
    overflow: hidden;
    position: relative;
    height: 100%;
}
#cardImg{
    width: 100%;
    height: auto;
}
.bg{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: row;
    color: var(--clr-light);
}
.bg img{
    width: 1em;
    margin-right: 0.1em;
}
.bg h2{
    width: max-content;
    font-size: 0.6em;
}
.bg:hover{
    opacity: 0;
}
.card-body{
    position: relative;
    color: var(--clr-light);
    background: linear-gradient(to top, #1e1d2391, #16151de1);
    opacity: 0;
    transition: opacity 200ms ease-in;
    padding-inline: 7%;
}
.card-body:hover,:focus{
    opacity: 1;
}
.card-body>p{
    font-size: 0.5em;
}
.card-body>p::after{
    content: "";
    height: 2px;
    width: 100%;
    margin-top: 2rem;
    margin-left: -100%;
    background-color: var(--clr-secondary);
    position: absolute;
    /* transition: transform 500ms ease-in-out; */
}
/* .card-body>p::after:hover{
    display: block;
    transform: scaleX(1);
} */
.card-body>span{
    font-size: 0.28em;
}
.projectCard .btn{
    background-color: var(--clr-secondary);
    border: none;
    font-size: 0.3em;
    padding-inline: 10%;
}