.Home{
    height: 100vh;
    border-bottom:1px solid var(--clr-primary);
}
.navbar{
    margin-top: 1%;    

}
.navbar>ul{
    display: flex;
    text-align: center;
    list-style: none;
    position:relative;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: flex-start;
    font-size: 1.2rem;
    font-weight: 450;
    color: var(--clr-primary);
    gap: 2rem;
    padding-inline-end: 3rem; 
}
.navbar>ul>li{
    text-transform: capitalize;
    padding-top: 1%;
    cursor: pointer;
}
.navbar>ul>img{
    width: 9rem;
    padding-inline-start: 1rem;
    cursor: pointer;
}
#sayHello{
    border: var(--clr-primary) solid 2px;
    border-radius: 100vmax 100vmax;
    margin-block: 0.5%;
    font-size: 1.2rem;
    background-color: #00000000;
    color:var(--clr-primary);

}


.Home .content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;


}

.col{
    width: 100%;
    height: 100%;
    /*border: solid red;*/
}
.intro{
    padding-inline-start: 10%;
    padding-top: 13%;
    padding-bottom: 13%;
}
.intro>p{
    color: var(--clr-secondary);
    /*border: red solid;*/
    font-size: 1.5rem;
    margin-bottom: 0%;  
}
.main-heading>h1{
    color: var(--clr-primary);
    margin-top: 0;
    font-size: 3.5rem;
    /*border:violet solid;*/
}