.Home{
    height: 100%;
    background-color: var(--clr-dark);
    border-bottom: 1px solid var(--clr-secondary);
}

/****************
    Navbar
****************/


.navbar{  
    display: flex;
    flex-direction: row;
    margin-inline: 0.5em;   
}
.navbar *{
    /* outline:auto; */
}
.navbar ul{
    display: flex;
    text-align: center;
    list-style: none;
    position:relative;
    flex-wrap: nowrap;
    width: calc(100%-20em);
    justify-content: flex-start;
    font-size: 0.32em;
    font-weight: 450;
    color: var(--clr-light);
    gap: 2rem;
    margin-inline: auto 1em;
    margin-top: 1.5em;
}

.navbar .logo{
    width: 6.5rem;
    cursor: pointer;
}
.navbar a{
    text-decoration: none;
}
.navbar li{
    padding-top: 2%;
    cursor: pointer;
    width: fit-content;
    position: relative;
}
.navbar li:after{
    content: "";
    position: absolute;
    bottom: 0%;
    background-color:var(--clr-secondary);
    height: 2px;
    width: 100%;
    left: -1%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
}
.navbar li:focus::after,.navbar li:hover::after{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navToogle{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 0.2em;
}
.navbar .btn{
    border: var(--clr-secondary) solid 2px;
    border-radius: 100vmax 100vmax;
    font-size: 0.32em;
    background-color: var(--clr-dark);
    color:var(--clr-light);
}
.navbar .btn:hover{
    background-color: var(--clr-secondary);
    color: var(--clr-light);
    border: var(--clr-secondary) solid 2px;

}
.navbar .menuIcon{
    display: none;
    z-index: 999;
}

@media screen and (max-width:1000px) {
    .navbar .btn{
        margin-inline-start: auto;
        z-index: 999;
        font-size: 0.3em;
    }
    .navbar .menuIcon{
        display: block;
        cursor: pointer;
        right: 0%;
        position: relative;
        margin-inline-start: 0.5em;
    }
    
    .navbar ul{
        flex-direction: column;
        background-color: var(--clr-dark);
        list-style: none;
        text-align: center;
        position:absolute;
        flex-wrap: nowrap;
        width: 85vw;
        justify-content: flex-start;
        font-size: 1.2rem;
        font-weight: 450;
        color: var(--clr-light);
        gap: 2rem;
        padding-block: 4rem;
        top: -0.5em;
        right: -2em;
        border-radius: 2vmax 2vmax 2vmax 2vmax;
        border: 0.1em var(--clr-secondary) solid;
        transform: translateX(150%);
        z-index: 998;
        opacity: 0;
        transition: transform 350ms ease-out;
        transition: opacity 50ms ease-in;
    }
    .navbar ul[data-visible='true']{
        transform: translateX(0%);
        opacity: 1;
    }
    .navbar li{
        margin-inline: auto;
    }
    .navbar li:hover{
        transform: scale(1.05);
    }

    .navbar li:after{
        content: "";
        position: absolute;
        bottom:-1em;
        background-color:var(--clr-secondary);
        height: 2px;
        width: 35vw;
        left: -15vw;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transition: -webkit-transform 150ms ease-in-out;
        transition: transform 150ms ease-in-out;
        transition: transform 150ms ease-in-out;
    }
}


/************
Home Content
*************/


.Home .content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-items: center;
    padding-block: 2em;
}

.intro{
    justify-self: center;
    padding: 1.5em 2em 2em 2em;
    margin-inline:auto;
    max-width: 900px;
    /* background-color: var(--clr-dark);
    margin-bottom: 3em;
    border: var(--clr-secondary) 2px solid;
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%; */
}
.intro p{
    color: var(--clr-secondary);
    font-size: 1.5rem;
    margin-bottom: 0%;  
}
.main-heading h1{
    color: var(--clr-light);
    margin-top: 0;
    font-size: 7vh;
}
.intro .btn{
    background-color: var(--clr-secondary);
    border: none;
    font-size: 0.4em;
    transition: transform 100ms ease-in-out;
}
.intro .btn:hover{
    transform: scale(1.05);
}
.socialHome{
   display: flex;
   flex-direction: row;
   gap: 15px;
  }
