@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.home{
    height: 100vh;
    background-color: transparent;
    border-bottom: 1px solid var(--clr-secondary);
}
.home *{
 /* outline: auto; */
}
#particles{
    height: 100vh;
    width: 100%;
}
/************
Home Content
*************/


.intro{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding-top: 1em;
    margin-inline: auto;
    padding-inline: 2em;
    max-width: 900px;
}
.main-heading h1{
    color: var(--clr-mainHeading);
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
}
.intro .btn{
    background-color: var(--clr-secondary);
    border: none;
    width: fit-content;
    font-size: 0.3em;
    transition: transform 100ms ease-in-out;
}
.intro .btn:hover{
    transform: scale(1.05);
}
.socialHome{
   display: flex;
   flex-direction: row;
   gap: 15px;
  }

  @media screen and (max-width:900px) {
    .main-heading h1{
        font-size: 0.75em;
    }
    .intro{
        padding-inline: 1.2em;
    }
  } 