:root{
  --clr-primary:#482673;
  --clr-light:#f3f3f3;
  --clr-secondary:#DE354C;
}
.App {
  height:100%;
  width: 100%;
  font-size: 3rem;
 /* border: solid red;*/
 background-color: var(--clr-light);
}
*{
  /* outline: auto; */
}


.pages{
  flex-direction: column;
  flex-wrap: nowrap;
}

