:root{
  /* --clr-primary:#482673;
  --clr-light:#f3f3f3;
  --clr-secondary:#DE354C; */
  --clr-dark:#0a192f;
  --clr-bg:#112240;
  --clr-light:#f3f3f3;
  --clr-secondary:#DE354C;
}
.App {
  height:100%;
  width: 100%;
  font-size: 3rem;
 /* border: solid red;*/
 background-color: var(--clr-bg);
 position:relative;
 overflow-x: hidden;
}
*{
  box-sizing: border-box;
  /* outline: auto; */
}
:focus{
  /* outline: none; */
}

.pages{
  flex-direction: column;
  flex-wrap: nowrap;
}

