.Projects{
    margin-top: 5vmax;
    isolation: isolate;   
}
.cards{
    display: grid;
    padding-inline: 10%;
    margin-block: 5%;
}
.web{
    grid-template-columns:1fr 1fr;
    grid-gap: 3vw;
}
.graphic{
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2vw;
}

.heading{
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 2%;
    font-weight: 300;
    color: var(--clr-secondary);
}
.cards>*{
    transition: transform 500ms ease ;
    transition-delay: 100ms;
    
}
.cards>*:hover{
    transform: scale(1.02);
}

.caption{
    position: relative;
    padding-inline: 15%;
    padding-top: 5%;
    background-color: var(--clr-dark);
    z-index: -1;
    color: var(--clr-light);
}
.Web{
    padding-bottom: 32%;
    margin-bottom: -35%;
}
.Graphic{
    padding-bottom: 28%;
    margin-bottom: -30%;
}
.caption>p{
    font-size: 0.6em;
    position: relative;
    width: max-content;
}
.caption>p::after{
    content: "";
    height: 2px;
    width: 100%;
    margin-top: 3rem;
    margin-left: -100%;
    background-color: var(--clr-secondary);
    position: absolute;

}
.caption > span{
    font-size: 0.4em;
    font-weight: 100;
}

.Projects .btnSee{
    background-color:transparent;
    border:2px solid  var(--clr-secondary);
    margin-left: 40%;
    min-width:20%;
    margin-bottom: 2vmax;
}
.Projects .btnSee:hover{
    background-color: var(--clr-secondary);
}