.Projects{
    height: 101vh;
    margin-block: 5%;
    border-bottom:1px solid #482673;

}
.cards{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-column-gap: 4vw;
    padding-inline: 10%;
}

.heading{
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 2%;
    font-weight: 300;
    color: #DE354C;
}