.contactForm{
    position: absolute;
    padding-block: 4%;
    padding-inline: 10%;
    bottom:30%;
    left: 0%;
    right: 0%;
}
.contactForm *{
    /* outline: auto; */
}
.contactForm .card{
    position: relative;
    background-color: var(--clr-bg);
    border-radius: 0.5vmax 0.5vmax 0.5vmax 0.5vmax;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.177);
    color: var(--clr-mainHeading);
    padding-block: 1em;
}


.contactForm .card-title{
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--clr-WhiteToSecondary);
}
#messageLogo{
    display: flex;
    height: auto;
    width: 4.5em;
    margin: 0 auto;
}
.contactForm .form-label{
    font-size: 0.4em;
    font-weight: 150;
    margin-inline: 2%;
    
}

.cardContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
}
.cForm{
    padding-bottom: 5%;
    padding-inline: 5%;


}

.contactForm .btn{
    margin-top: 8%;
    font-size: 0.3em;
}

.invalid-feedback{
    font-size: 1rem;
    font-weight: 150;
}
.alert{
    position: fixed;
    width: 250px;
    font-size: 1rem;
    z-index: 1000;
    margin-inline: auto;
    top: 0em;
    transform: translateY(5em);
    transition: transform 600ms ease-in-out;
  }

@media screen and (max-width:840px) {
    .cardContent{
        display: grid;
        grid-template-columns: 1fr ;
        align-items: center;
    }
    #messageLogo{
        margin-top: 0.5em;
    }
}
