.contactForm{
    position: relative;
    padding-block: 4%;
    padding-inline: 10%;
    margin-bottom: 6em;
}
.contactForm *{
    /* outline: auto; */
}
.contactForm .card{
    background-color: var(--clr-bg);
    border-radius: 0.5vmax 0.5vmax 0.5vmax 0.5vmax;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.177);
    color: var(--clr-light);

}


.contactForm .card-title{
    text-align: center;
    margin-top: 4%;
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--clr-secondary);
}
#messageLogo{
    max-width: 6em;
    margin: 1em;
}
.contactForm .form-label{
    font-size: 1.3rem;
    font-weight: 150;
    margin-inline: 2%;
}
.cForm{
    padding-bottom: 5%;
    padding-inline: 5%;
}

.contactForm .btn{
    margin-top: 8%;
}

.invalid-feedback{
    font-size: 1rem;
    font-weight: 150;
}