.contactForm{
    position: relative;
    padding-block: 4%;
    padding-inline: 10%;
    margin-bottom: 22%;
}
.contactForm *{
    /* outline: auto; */
}
.contactForm .card{
    border-radius: 0.5vmax 0.5vmax 0.5vmax 0.5vmax;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.177);
    /* transition: transform 500ms ease; */
}

.contactForm .card:hover{
    /* transform: scale(1.005); */
}
.contactForm .card-title{
    text-align: center;
    margin-top: 4%;
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--clr-secondary);
}
#messageLogo{
    width: 9em;
    margin-inline: 1.5em;
}
.contactForm .form-label{
    font-size: 1.3rem;
    font-weight: 150;
    margin: 0%;
}
.cForm{
    padding-bottom: 5%;
    padding-inline: 5%;
}

.contactForm .btn{
    margin-top: 8%;
}

.invalid-feedback{
    font-size: 1rem;
    font-weight: 150;
}