
.About{
    height: fit-content;
    margin-inline: 0.5em;
    margin-top: 0.5em;
}
.About *{
    
    /* outline: auto; */
}
.about-content{
    color: var(--clr-white);
    background-color: var(--clr-primaryToPrimryLight);
    padding: 10%;
    border-radius: 0 0 1vmax 1vmax;
    text-align: center;
}
.profileImg{
    width: 3em;
    border-radius: 50%;
    margin-bottom: 0.5em;
}
.about-content >span>p{
    font-size: 0.38em;
    font-weight: 50;
    margin-bottom: 15vh;
}
.about-content >span>p>b{
    font-weight: 600;
    color: var(--clr-secondary);
}
.about-content h1{
    margin-bottom: 3vh;
}


