
.About{
    height: fit-content;
    margin-inline: 0.5em;
    margin-top: 0.5em;
}
.About *{
    
    /* outline: auto; */
}
.about-content{
    color: var(--clr-light);
    background-color: var(--clr-dark);
    padding: 10%;
    border-radius: 0 0 1vmax 1vmax;
    text-align: center;
}

.about-content >span>p{
    font-size: 0.38em;
    font-weight: 100;
    margin-bottom: 15vh;
    opacity: 0;
    transform:scale(0.98);
    transition: opacity 1000ms ease-in-out ,transform 500ms ease-in ;
}
.about-content h1{
    opacity: 0;
    transition: opacity 400ms ease-in-out ;
    margin-bottom: 3vh;
}

.about-content h1[data-visible='true'], .about-content p[data-visible='true']{
   opacity: 1;
   transform:scale(1);
}
